<h1>Questions</h1>
<% @questions.each do |question| %>
  <ul>
    <li>
      <div class="votes">
        <%= question.totalVotes%>
      </div>
      <div class="question">
        <a href="/questions/<%= question.id %>"><%= question.title %></a>
      </div>
    </li>
  </ul>
<% end %>
