<h3>New Question</h3>

<form class="form" action="/questions" method="Post">
  <input type="text" name="question[title]" placeholder="Question Title"><br>
  <textarea type="text" rows="10" cols="50" name="question[body]" placeholder="Question"></textarea><br>
  <input class="form-button" type="submit" value="Create Question">
</form>