
body {
  padding: 20px;
}

#cookie {
  color: #008B8B;
}

.form {
  margin: 0 auto;
  border: 3px solid black;
  width: 650px;
  padding: 10px;
  background-color: #D7DDDE;
}

#logo {
  color: #008B8B;
}

.form > input {
  margin: 15px;
  font-size: 20px;
}

.question_answer_title {
  color: #008B8B;
}

.question_body {
  color: #8B8378;
}

.answer_body {
  color: #8B864E;
  border-bottom: 2px dotted black;
}

.dot-color {
  color: #333333;
}

#main_photo {
  text-align: center;
}

.form > textarea {
  margin: 15px;
  font-size: 20px;
  resize: none;
}

.form-button {
  border: 3px solid black;
}


#first_menu {
  background-color: black;
  display: block;
  padding: 5px;
}

#first_menu li {
  list-style: none outside none;
  margin: 0 10px;
  display: inline;
}

#first_menu a {
  color: white;
  text-decoration: none;
}

#second_menu {
  display: block;
  padding: 5px;
}

#second_menu li {
  list-style: none outside none;
  margin: 0 10px;
  display: inline;
}

.second-nav-links {
  float: right;
}

#second_menu a {
  text-decoration: none;
  color: black;
}

#question-index {
 width: 40%;
 margin-left: 30%;
}

.votes {
  float: left;
  display: inline;
  margin-right: 15px;
}

#question-index ul {
  list-style: none;
}

.question a {
  font-size: 20px;
  text-decoration: none;
}

.question-asker {

}



main {

  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}


