
body {
  padding: 20px;
}

.form {
  margin: 0 auto;
  border: 3px solid black;
  width: 650px;
  padding: 10px;
  background-color: #D7DDDE;
}

.form > input {
  margin: 15px;
  font-size: 20px;
}

.form > textarea {
  margin: 15px;
  font-size: 20px;
  resize: none;
}

.form-button {
  border: 3px solid black;
}

main {
text-align: center;
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}

