body {
  padding: 20px;
}

.form {
  margin: 0 auto;
  border: 3px solid black;
  width: 650px;
  padding: 10px;
  background-color: #D7DDDE;
}

.form > input {
  margin: 15px;
  font-size: 20px;
}

.form > textarea {
  margin: 15px;
  font-size: 20px;
  resize: none;
}

.form-button {
  border: 3px solid black;
}

#first_menu {
  background-color: black;
  display: block;
  padding: 5px;
}

#first_menu li {
  list-style: none outside none;
  margin: 0 10px;
  display: inline;
}

#first_menu a {
  color: white;
  text-decoration: none;
}

#second_menu {
  display: block;
  padding: 5px;
}

#second_menu li {
  list-style: none outside none;
  margin: 0 10px;
  display: inline;
}

.second-nav-links {
  float: right;
}

#second_menu a {
  text-decoration: none;
  color: black;
}





