<form method="post" action="/questions/<%=:question_id%>/answers/<%=:id%>/edit">
<input type="hidden" name="_method" value="put"><br>

  <ul style="list-style-type:none">

    <input type="hidden" name="answer[id]" value=<%=@answer.id %>

    <li> <textarea type="text" name="answer[body]" placeholder= "<%=@answer.body%>"></textarea></li><br>

     <li><input type="submit" value="Edit Your Response"></li>
  </ul>
</form>

