
<h1 class="question_answer_title">Answers:</h1><br>

<% @question.answers.each do |answer| %>

  <p><h3 class="answer_body"><%=answer.body.capitalize%></h3><br>
    <%= answer.answer_username %>
  </p>

<%end%>

