<form method="post" action="/questions/<%=@question.id%>/answers/new">


  <ul style="list-style-type:none">

    <li> <textarea type="text" name="body" placeholder="Answer Away!"></textarea></li><br>

     <li><input type="submit" value="Submit an Answer!"></li>
  </ul>
</form>
