<h3> New Answer</h3>
<% if logged_in? %>
  <form class="answer_box" action="/questions/<%=@question.id%>/answers" method="post" >
    <ul class="answer_text" style="list-style-type:none">
      <li> <textarea type="text" name="body" placeholder="Answer Away!"></textarea></li><br>
       <li><input type="submit" value="Submit an Answer"></li>
    </ul>
  </form>
<% else %>
  <h4>"Sorry Snack Buddy, you have to sign in first to leave an answer!"</h4>
<% end %>
