<%=@question.title%>
<%=@question.body%>

<form method="post" action="/questions/:question_id/answers/new">
  <ul style="list-style-type:none">

    <li> <input type="text" name="body" placeholder="Answer Away!"></li><br>
     <li><input type="submit" value="Submit"></li>
  </ul>
</form>
