<h2><%=@answer.body%></h2>

<form method="get" action="/questions/:question_id_/answers/:id/edit">
  <input type="submit" value="Edit">
</form>

<form method="post" action="/questions/:question_id/answers/:id">
  <input type="hidden" name="_method" value="delete"></li>
     <li><input type="submit" value="Delete"></li>
  </ul>
</form>


